<p id="titolo">Lista dei Libri disponibili</p>
<button type="button" (click)="isShowing = !isShowing">

  <ng-container *ngIf="!isShowing">Mostra</ng-container>
  <ng-container *ngIf="isShowing">Nascondi</ng-container>
</button>

<!--<input type="text" (input)="handleInput($event)" />
<input type="text" [(ngModel)]="mioNome" />
<input type="text" [(ngModel)]="mioCognome" />-->
<div>


</div>

<ul *ngIf="isShowing">
  <ng-container *ngFor="let book of books; let i=index">
  <li>
    {{ i + 1 }}
   <img [src]="book.src" [alt]="book.titolo" width="100" /><b>{{book.titolo}}</b> scritto da {{ book.autore }}
  </li>
</ng-container>
      </ul>

